{% extends "admin/change_form.html" %}
{% load i18n admin_modify static %}
{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="{% static "admin/js/vendor/jquery/jquery.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/jquery.init.js" %}"></script>

{% endblock %}

{% block content %}
<div id="content-main">
    <form action="" method="POST">
        {% csrf_token %}
        {% if form.non_field_errors|length > 0 %}
        <p class="errornote">
            "Please correct the errors below."
        </p>
        {{ form.non_field_errors }}
        {% endif %}
        <fieldset class="module aligned">
            {% if form_text %}
            {{ form_text }}
            {% endif %}
            {% for field in form %}
            <div class="form-row">
                {{ field.errors }}
                {{ field.label_tag }}
                {{ field }}
                {% if field.field.help_text %}
                <p class="help">
                    {{ field.field.help_text|safe }}
                </p>
                {% endif %}
            </div>
            {% endfor %}
        </fieldset>
        <div class="submit-row">
            <input class="default" type="submit" value="{% blocktrans %} {{ title }} {% endblocktrans %}"/>
        </div>
    </form>
</div>
{% endblock %}
