before_script:
  # Setup SSH deploy keys
  - 'which ssh-agent || ( apt-get install -qq openssh-client )'
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$STAGE_SSH_PRIVATE_KEY" | base64 -d)
  - mkdir -p ~/.ssh
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
    
deploy_staging:
  type: deploy
  environment:
    name: staging
    url: staging.shopandsave.com
  script:
    - ssh autodeploy@$STAGE_SERVER "source ~/.venv/bin/activate && cd ~/staging && export GIT_SSL_NO_VERIFY=1 && git checkout main && git pull origin main && pip install -r requirements.txt"
  only:
    - main
